# Package Files #
*.jar
*.zip
*.tar.gz
*.rar

# Unused files
/unused/
/version/


# Images files for showcase
/images/
/image/

# Personnal PSD files
/psd/

*.aseprite
Textures.aseprite
*.pxc
.DS_Store
