# Package Files #
*.jar
*.zip
*.tar.gz
*.rar

# Unused files
/unused/
/version/


# Images files for showcase
/images/
/image/

# Personnal PSD files
/psd/

*.aseprite
Textures.aseprite
*.pxc
assets/minecraft/textures/item/knockback1_old.png
assets/minecraft/textures/item/knockback2_old.png
